* {
  font-family: sans-serif;
  text-align: center;
}

body  {
  background-color: black;
}

#body-home {
  color: white;
}

#nav-title {
  text-align: center;
  font-size: 40px;
  animation: swap-colors 3s infinite;
}

@keyframes swap-colors {
  0% {
    color: blue;
  }
  50% {
    color: aqua;
  }
  100% {
    color: blue;
  }
}
#nav {
  text-align: center;
  margin-top: 13px;
}

.nav-links {
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 20px;
  color: grey;
}

.nav-links:hover {
  font-size: 25px;
  color: blue;
}

.nav-links.active {
  color: aqua;
}

#welcome {
  text-align: center;
  color: blue;
  margin-top: 15px;
}

#welcome > h3 {
  color: grey;
}

#login-container {
  text-align: center;
  margin: 2% auto;
  height: 400px;
  width: 300px;
  background-color: lightgrey;
  border-radius: 10px 10px 10px 10px;
  padding: 2px;
}
#login-container > h4 {
  font-weight: bold;
}

#login-container:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 
              0 2px 4px rgba(0, 0, 0, 0.2), 
              0 4px 8px rgba(0, 0, 0, 0.2), 
              0 8px 16px aqua;
}

#username, #email, #password {
  width: 250px;
  border-radius: 10px 10px 10px 10px;
  height: 23px;
  border-color: blue
}

#username:hover, #email:hover, #password:hover {
  border-color: aqua;
}

#username.invalidated, #email.invalidated, #password.invalidated {
  border-color: red;
}

#submit, #reset {
  margin-top: 20px;
  width: 100px;
  border-radius: 10px 10px 10px 10px;
  border-color: purple;
  height: 26px;
}

#home-line-1 {
  margin-top: 20px;
  color: blue;
}
